.class_gw2_guardian {
	background: transparent url(../class_icons/gw2_guardian.png) left center no-repeat;
	padding-left: 20px; 
}

.class_gw2_warrior {
	background: transparent url(../class_icons/gw2_warrior.png) left center no-repeat;
	padding-left: 20px; 
}

.class_gw2_engineer {
	background: transparent url(../class_icons/gw2_engineer.png) left center no-repeat;
	padding-left: 20px; 
}

.class_gw2_ranger {
	background: transparent url(../class_icons/gw2_ranger.png) left center no-repeat;
	padding-left: 20px; 
}

.class_gw2_thief {
	background: transparent url(../class_icons/gw2_thief.png) left center no-repeat;
	padding-left: 20px; 
}

.class_gw2_elementalist {
	background: transparent url(../class_icons/gw2_elementalist.png) left center no-repeat;
	padding-left: 20px; 
}

.class_gw2_mesmer {
	background: transparent url(../class_icons/gw2_mesmer.png) left center no-repeat;
	padding-left: 20px; 
}

.class_gw2_necromancer {
	background: transparent url(../class_icons/gw2_necromancer.png) left center no-repeat;
	padding-left: 20px; 
}
